# vim
*.swp

# nix-build
result

# docker build
/docker-image.tar.gz

.ghc.environment.x86_64-linux-8.4.4

# Created by https://www.gitignore.io/api/haskell

### Haskell ###
dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
.HTF/

# End of https://www.gitignore.io/api/haskell
